<div mat-h1>I am the display 1</div>
<div mat-h2>I am the display 2</div>
<br>
<br>
<button mat-button>Click Me!</button>
<br>
<br>
<!-- --------------------------BADGE---------------------------- -->
<h1>Badge</h1>
<h2>Badge Position</h2>
<div style="margin: 2%; padding: 2%; border: 2px solid tomato;">
  <div style="margin: 3rem; display: inline;">
    <span matBadge="5" matBadgePosition="before">Heyyyyyyy</span>
  </div>
  <div style="margin: 3rem; display: inline;">
    <span matBadge="5" matBadgePosition="below before">Heyyyyyyy</span>
  </div>
  <div style="margin: 3rem; display: inline;">
    <span matBadge="5" matBadgePosition="below after">Heyyyyyyy</span>
  </div>
  <div style="margin: 3rem; display: inline;">
    <span matBadge="5" matBadgePosition="after">Heyyyyyyy</span>
  </div>
</div>


<h2>Badge Size</h2>
<div style="margin: 2%; padding: 2%; border: 2px solid tomato;">
  <div style="margin: 3rem; display: inline;">
    <span matBadge="5" matBadgeOverlap="false" matBadgeSize="small" matBadgePosition="after">Small badge Size</span>
  </div>
  <div style="margin: 3rem; display: inline;">
    <span matBadge="5" matBadgeOverlap="false" matBadgeSize="medium" matBadgePosition="after">Medium badge Size</span>
  </div>
  <div style="margin: 3rem; display: inline;">
    <span matBadge="5" matBadgeOverlap="false" matBadgeSize="large" matBadgePosition="after">Large badge Size</span>
  </div>
</div>

<h2>Badge Color</h2>
<div style="margin: 2%; padding: 2%; border: 2px solid tomato;">
  <div style="margin: 3rem; display: inline;">
    <span matBadge="5" matBadgeOverlap="false" matBadgeColor="primary" matBadgePosition="after">Primary
      Color</span>
  </div>
  <div style="margin: 3rem; display: inline;">
    <span matBadge="5" matBadgeOverlap="false" matBadgeColor="accent" matBadgePosition="after">Accent Color</span>
  </div>
  <div style="margin: 3rem; display: inline;">
    <span matBadge="5" matBadgeOverlap="false" matBadgeColor="warn" matBadgePosition="after">Warn Color</span>
  </div>
  <div style="margin: 3rem; display: inline;">
    <span [matBadge]="notificationCount" matBadgeOverlap="false" matBadgeColor="warn" matBadgePosition="after">Warn
      Color</span>
  </div>
</div>


<h2>Badge Color</h2>
<div style="margin: 2%; padding: 2%; border: 2px solid tomato;">
  <div style="margin: 3rem; display: inline;">
    <span [matBadge]="counter" matBadgeOverlap="false" [matBadgeHidden]="counter==0" matBadgeColor="warn"
      matBadgePosition="after">Warn Color</span><br><br>
  </div>
  <div style="display: flex; margin: 0px 50px 20px; ">
    <button (click)="incrementCount()" mat-raised-button>+</button>
    <h2 style="margin: 0% 2%;">{{counter}}</h2>
    <button (click)="decrementCount()" mat-raised-button>-</button>
  </div>
  <p>Click on buttons to increase or decrease badge count</p>
</div>

<h1>Buttons</h1>
<div style="margin-left: 25px; margin-top: 50px;">

  <h2>Rectangle Button</h2>
  <div style="margin: 2%; padding: 2%; border: 2px solid tomato;">
    <div style="margin: 3rem; display: inline;">
      <button mat-button color="primary" matBadge="8" matBadgeSize="large" matBadgePosition="before"
        matBadgeColor="accent">
        Action
      </button>
    </div>
    <div style="margin: 3rem; display: inline;">
      <button mat-raised-button matBadge="7" matBadgeColor="accent" [matBadgeHidden]="hidden"
        (click)="toggleBadgeVisibility()">
        Hide
      </button>
    </div>
    <div style="margin: 3rem; display: inline;">
      <button mat-flat-button>Flat Button</button>
    </div>
    <div style="margin: 3rem; display: inline;">
      <button mat-stroked-button>Flat Button</button>
    </div>
  </div>


  <h2>Circular Button</h2>

  <div style="margin: 2%; padding: 2%; border: 2px solid tomato;">
    <div style="margin: 3rem; display: inline;">
      <button style=" font-size: 10px;" mat-icon-button>Flat Button</button>
    </div>
    <div style="margin: 3rem; display: inline;">
      <button mat-fab>Flat Button</button>
    </div>
    <div style="margin: 3rem; display: inline;">
      <button style=" font-size: 10px;" mat-mini-fab>Flat Button</button>
    </div>
  </div>

  <h2>Button Colors</h2>

  <div style="margin: 2%; padding: 2%; border: 2px solid tomato;">
    <div style="margin: 2rem; display: inline;">
      <button color="primary" mat-button>Mat Button</button>
    </div>
    <div style="margin: 2rem; display: inline;">
      <button color="accent" mat-raised-button>Raised Button</button>
    </div>
    <div style="margin: 2rem; display: inline;">
      <button color="warn" mat-flat-button>Flat Button</button>
    </div>
    <div style="margin: 2rem; display: inline;">
      <button color="primary" mat-stroked-button>Stroked Button</button>
    </div>
    <div style="margin: 2rem; display: inline;">
      <button color="accent" disableRipple mat-raised-button>No Ripple Button</button>
    </div>
  </div>

  <h1>Button Toggle</h1>
  <div style="margin: 2%; padding: 2%; border: 2px solid tomato;">
    <div style="margin: 2rem; display: inline;">
      <mat-button-toggle #toggleBtn [checked]="active" (click)="checkToggle()">Toggle</mat-button-toggle>
      {{toggleBtn.checked}} and {{active}}
    </div>
  </div>

  <h1>Button Toggle Group</h1>
  <div style="margin: 2%; padding: 2%; border: 2px solid tomato;">
    <div style="margin: 2rem;">
      <mat-button-toggle-group (click)="languageSelect(buttonGroup.value)" #buttonGroup="matButtonToggleGroup">
        <mat-button-toggle value="English">English</mat-button-toggle>
        <mat-button-toggle value="Hindi">Hindi</mat-button-toggle>
        <mat-button-toggle value="Malayalam">Malayalam</mat-button-toggle>
      </mat-button-toggle-group>
      You've selected:
      <em>{{language}}</em><br>
      <strong>Only one option is selectable here</strong>
    </div>
    <div style="margin: 2rem;">
      <mat-button-toggle-group (click)="languageMultiSelect(buttonGroupMultiple.value)"
        #buttonGroupMultiple="matButtonToggleGroup" multiple>
        <mat-button-toggle value="English">English</mat-button-toggle>
        <mat-button-toggle value="Hindi">Hindi</mat-button-toggle>
        <mat-button-toggle value="Malayalam">Malayalam</mat-button-toggle>
      </mat-button-toggle-group>
      You've selected:
      <em>{{language2}}</em><br>
      <strong>Multiple options are selectable here because of 'multiple' attribute</strong>
    </div>
  </div>

  <h1>Material Icons</h1>
  <div style="margin: 2%; padding: 2%; border: 2px solid tomato;">
    <div style="margin: 2rem; display: inline;">
      <mat-icon color="warn">favorite</mat-icon>
    </div>
    <div style="margin: 2rem; display: inline;">
      <mat-icon color="accent">apps</mat-icon>
    </div>
    <div style="margin: 2rem; display: inline;">
      <mat-icon color="primary">star</mat-icon>
    </div>
    <div style="margin: 2rem; display: inline;">
      <mat-icon color="accent">check_circle</mat-icon>
    </div>
    <div style="margin: 2rem; display: inline;">
      <mat-icon color="warn">delete</mat-icon>
    </div>
  </div>

</div>

<h1>Material Spinner</h1>
<div style="margin: 2%; padding: 2%; border: 2px solid tomato; display: flex;">
  <div style="margin: 2rem; display: inline;">
    <mat-progress-spinner [value]="loading" color="warn"></mat-progress-spinner>
    <br><button mat-raised-button (click)="startLoader()">load</button>
  </div>
  <div style="margin: 2rem; display: inline;">
    <mat-spinner color="primary"></mat-spinner>
  </div>
</div>

<h1>Toolbar</h1>
<div style="margin: 2%; padding: 2%; border: 2px solid tomato; display: flex;">
  <mat-toolbar color="primary" class="navbar">
    <div>The Alpha Network</div>
    <div>
      <span class="menu">Home</span>
      <span class="menu">About</span>
      <span class="menu">Services</span>
    </div>
  </mat-toolbar>
</div>

<h1>Sidenav</h1>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" (opened)="log('openned')" [opened]="sidebarShow">
    <!-- mode="push" -->
    <!-- mode="over" -->
    <div class="sidenav-topper">
      <span>Sidenav</span>
      <span><mat-icon (click)="sidenav.close()">arrow_circle_left</mat-icon></span>
    </div>
  </mat-sidenav>
  <mat-sidenav-container>
    <mat-icon (click)="sidenav.open()">menu</mat-icon>
    <h1>Cards</h1>
    <mat-card>
      <mat-card-title>Card Title</mat-card-title>
      <mat-card-content>
        <h3>This is the card Content:</h3>
        <ol>
          <li>Angular</li>
          <li>Angular</li>
          <li>Angular</li>
          <li>Angular</li>
          <li>Angular</li>
        </ol>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="warn">Post</button>
      </mat-card-actions>
    </mat-card>
  </mat-sidenav-container>
</mat-sidenav-container>